@*@BaseCode*@

@{
    //var controller = ViewContext?.RouteData?.Values["controller"]?.ToString();
    //var action = ViewContext?.RouteData?.Values["action"]?.ToString();
    var title = "Contact";

    ViewData["Title"] = title;

    <div class="card" style="margin-bottom: 1em; border: none;">
        <img class="card-img-top" src="/img/contact.jpg" alt="Item image">
        <div class="card-body">
            <div class="bs-docs-section">
                <h1 id="contact">Contact information</h1>
                <hr />
                <address>
                    <strong>ISO Individual Systems OG</strong><br>
                    Europastraße 67<br>
                    A-4020 Linz<br>
                    <abbr title="Phonenumber">Tel.</abbr> +43 650 9339331
                    <br />
                    <abbr title="Email-Adresse">Email </abbr> <a href="mailto:office@indi.systems">office(at)indi.systems</a>
                    <br />
                    <abbr title="Person">Manager </abbr><strong>Gerhard Gehrer</strong>
                </address>
            </div>
        </div>
    </div>
}
