@*@BaseCode*@
@*#if ACCESSRULES_ON*@@*
@model QuickTemplate.AspMvc.Models.Access.AccessRule

<div class="row">
 <div class="col-md-4">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <input asp-for="Id" type="hidden" />
  <div class="form-group">
   <label asp-for="Type" class="control-label"></label>
   @{
    var valuesType = Enum.GetValues(typeof(QuickTemplate.Logic.Modules.Access.RuleType)).Cast<QuickTemplate.Logic.Modules.Access.RuleType>().Select(e => new SelectListItem(e.ToString(), e.ToString()));
   }
   @Html.DropDownListFor(m => m.Type, valuesType, null, new { @class = "form-select" })
   <span asp-validation-for="Type" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="EntityType" class="control-label"></label>
   <input asp-for="EntityType" class="form-control"  />
   <span asp-validation-for="EntityType" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="RelationshipEntityType" class="control-label"></label>
   <input asp-for="RelationshipEntityType" class="form-control"  />
   <span asp-validation-for="RelationshipEntityType" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="PropertyName" class="control-label"></label>
   <input asp-for="PropertyName" class="form-control"  />
   <span asp-validation-for="PropertyName" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="EntityValue" class="control-label"></label>
   <input asp-for="EntityValue" class="form-control"  />
   <span asp-validation-for="EntityValue" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="AccessType" class="control-label"></label>
   @{
    var valuesAccessType = Enum.GetValues(typeof(QuickTemplate.Logic.Modules.Access.AccessType)).Cast<QuickTemplate.Logic.Modules.Access.AccessType>().Select(e => new SelectListItem(e.ToString(), e.ToString()));
   }
   @Html.DropDownListFor(m => m.AccessType, valuesAccessType, null, new { @class = "form-select" })
   <span asp-validation-for="AccessType" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="AccessValue" class="control-label"></label>
   <input asp-for="AccessValue" class="form-control"  />
   <span asp-validation-for="AccessValue" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="Creatable" class="control-label"></label>
   <input asp-for="Creatable" class="form-check"  />
   <span asp-validation-for="Creatable" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="Readable" class="control-label"></label>
   <input asp-for="Readable" class="form-check"  />
   <span asp-validation-for="Readable" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="Updatable" class="control-label"></label>
   <input asp-for="Updatable" class="form-check"  />
   <span asp-validation-for="Updatable" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="Deletable" class="control-label"></label>
   <input asp-for="Deletable" class="form-check"  />
   <span asp-validation-for="Deletable" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="Viewable" class="control-label"></label>
   <input asp-for="Viewable" class="form-check"  />
   <span asp-validation-for="Viewable" class="text-danger"></span>
  </div>
 </div>
</div>
*@@*#endif*@
