@*@BaseCode*@
@*#if ACCESSRULES_ON*@@*
    @model IEnumerable<QuickTemplate.AspMvc.Models.Access.AccessRule>
    @{
      var orderBy = (string)ViewBag.OrderBy ?? string.Empty;
    }
    <thead>
     <tr>
      <th>
       @if (orderBy.StartsWith("Type") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="Type DESC" class="btn btn-outline"><strong>Type</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("Type") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Type</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="Type ASC" class="btn btn-outline"><strong>Type</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("EntityType") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="EntityType DESC" class="btn btn-outline"><strong>EntityType</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("EntityType") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>EntityType</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="EntityType ASC" class="btn btn-outline"><strong>EntityType</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("RelationshipEntityType") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="RelationshipEntityType DESC" class="btn btn-outline"><strong>RelationshipEntityType</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("RelationshipEntityType") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>RelationshipEntityType</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="RelationshipEntityType ASC" class="btn btn-outline"><strong>RelationshipEntityType</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("PropertyName") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="PropertyName DESC" class="btn btn-outline"><strong>PropertyName</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("PropertyName") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>PropertyName</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="PropertyName ASC" class="btn btn-outline"><strong>PropertyName</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("EntityValue") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="EntityValue DESC" class="btn btn-outline"><strong>EntityValue</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("EntityValue") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>EntityValue</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="EntityValue ASC" class="btn btn-outline"><strong>EntityValue</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("AccessType") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="AccessType DESC" class="btn btn-outline"><strong>AccessType</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("AccessType") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>AccessType</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="AccessType ASC" class="btn btn-outline"><strong>AccessType</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("AccessValue") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="AccessValue DESC" class="btn btn-outline"><strong>AccessValue</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("AccessValue") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>AccessValue</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="AccessValue ASC" class="btn btn-outline"><strong>AccessValue</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("Creatable") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="Creatable DESC" class="btn btn-outline"><strong>Creatable</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("Creatable") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Creatable</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="Creatable ASC" class="btn btn-outline"><strong>Creatable</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("Readable") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="Readable DESC" class="btn btn-outline"><strong>Readable</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("Readable") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Readable</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="Readable ASC" class="btn btn-outline"><strong>Readable</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("Updatable") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="Updatable DESC" class="btn btn-outline"><strong>Updatable</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("Updatable") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Updatable</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="Updatable ASC" class="btn btn-outline"><strong>Updatable</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("Deletable") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="Deletable DESC" class="btn btn-outline"><strong>Deletable</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("Deletable") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Deletable</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="Deletable ASC" class="btn btn-outline"><strong>Deletable</strong></a>
        }
      </th>
      <th>
       @if (orderBy.StartsWith("Viewable") && orderBy.EndsWith("ASC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="Viewable DESC" class="btn btn-outline"><strong>Viewable</strong> <i class="fa fa-sort-desc"></i></a>
        }
       else if (orderBy.StartsWith("Viewable") && orderBy.EndsWith("DESC"))
        {
         <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Viewable</strong> <i class="fa fa-sort-asc"></i></a>
        }
       else
        {
         <a asp-action="OrderBy" asp-route-orderBy="Viewable ASC" class="btn btn-outline"><strong>Viewable</strong></a>
        }
      </th>
      <th></th>
     </tr>
    </thead>
*@@*#endif*@
