@*@BaseCode*@
@model CommonBase.Contracts.IIdentifyable

@{
    var title = "Delete";
    var pageData = new QuickTemplate.AspMvc.Models.View.PageData { Name = title };

    ViewData["Title"] = title;
}

@await Html.PartialAsync("_PageHeader", new QuickTemplate.AspMvc.Models.View.PageData { Name = "Delete"})

<h1>Delete</h1>
<h3>@Model!.GetType().Name</h3>
<hr />
<h3>Are you sure you want to delete this?</h3>
<hr />
<div>
    @if (string.IsNullOrEmpty(ViewBag.Error) == false)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
    @await Html.PartialAsync("_DisplayModel", Model)

    <form asp-action="Delete">
        @await Html.PartialAsync("_SubmitBack", new QuickTemplate.AspMvc.Models.View.SubmitBackCmd() { SubmitAction="Delete", SubmitText="Delete", SubmitCss="btn btn-danger", FromSubmitToBack=true })
    </form>
</div>

@await Html.PartialAsync("_PageFooter", pageData)
