@*@BaseCode*@
@model CommonBase.Contracts.IIdentifyable

@{
    var title = "Details";
    var pageData = new QuickTemplate.AspMvc.Models.View.PageData { Name = title };
    var canEdit = (bool)(ViewBag.CanEdit ?? true);

    ViewData["Title"] = title;
}

@await Html.PartialAsync("_PageHeader", new QuickTemplate.AspMvc.Models.View.PageData { Name = "Details"})

<h1>Details</h1>
<h3>@Model.GetType().Name</h3>
<hr />
<div>
    @await Html.PartialAsync("_DisplayModel", Model)
</div>

<div class="d-flex bg-transparent">
    @if (canEdit)
    {
        <div class="p-sm-2">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class="btn btn-outline-primary" ,@style="min-width: 8em;"})
        </div>
    }
    <div class="p-sm-2" style="margin-left: 0.2em">
        <a class="btn btn-outline-secondary" style="min-width: 8em;" asp-action="Index">Back to List</a>
    </div>
</div>

@await Html.PartialAsync("_PageFooter", pageData)
