@*@BaseCode*@
@model CommonBase.Contracts.IIdentifyable

@{
    var title = "Edit";
    var pageData = new QuickTemplate.AspMvc.Models.View.PageData { Name = title };

    ViewData["Title"] = title;
}

@await Html.PartialAsync("_PageHeader", pageData)

<h1>@title</h1>
<h3>@Model!.GetType().Name</h3>
<hr />

@if (string.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<form asp-action="Edit">
    @await Html.PartialAsync("_EditModel", Model)
    <p></p>
    <div class="form-group">
        @await Html.PartialAsync("_SubmitBack", new QuickTemplate.AspMvc.Models.View.SubmitBackCmd() { SubmitAction="Edit" })
    </div>
</form>

@await Html.PartialAsync("_PageFooter", pageData)

@section Scripts {
    @{
    //await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
